/*. = class / # = id*/

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    background-color: #D6CDA4;
}

#Escoger-Arma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {

    color: darkolivegreen;
    font-family: 'Shadows Into Light', cursive;
    font-size: 324%;
    text-align: center;
    width: 305px;
    height: 77px;
    margin: 1px;
    outline-style: solid;
    background-color: #f5bb08;
    
}

.subtitulo {

    color: #824203;
    font-family: 'Shadows Into Light';
    font-size: 35px;
    margin: 5px;
}

.Div-Tarjetas-Personajes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgVaquero🤠 {
    width: 67px;
    height: 122px;
}

.mini-imgVaquero🤠, .mini-imgbandido {
    width: 40px;
    height: 60px;
}

.imgSoldado🪖 {
    width: 156px;
    height: 127px;
}

.mini-imgSoldado🪖 {
    width: 73px;
    height: 62px;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
.divTarjetasArma {
    display: flex;
}

label {

    color: #824203;
    width: 169px;
    height: 150px;
    margin: 6px;
    border-radius: 20px;
    outline-style: solid;
    outline-color: #f5bb08;
    background-color: olive;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

label:hover {
    transform: translateY(-20px);
}

.Pistola {

    width: 158px;
    height: 96px;

}

.Revolver {
    width: 159px;
    height: 97px;
}

.Escopeta {
    width: 146px;
    transform: rotate(45deg);
}

.Fusil {
    width: 155px;
    transform: rotate(-45deg);
}

input {

    display: none;
    width: 20px;
    height: 20px;
}

input:checked + label {
    background-color: #f5bb08;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
#Boton-Equipar {

    color: #824203;
    font-family: 'Shadows Into Light';
    font-size: 155%;
    width: 172px;
    height: 71px;
    box-shadow: 1px 4px 7px 1px darkolivegreen;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: #f5bb08;
    margin: 32px;
    background-color: darksalmon;
}

#Boton-Equipar:hover {
    background-color: lightsalmon;
}

#Boton-Equipar:active {
    background-color: salmon;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

#Escoger-ataque {
    flex-direction: column;
    align-items: center;
}


.botonesAtaque {
 
    color: #824203;
    font-family: 'Shadows Into Light';
    font-size: 155%;
    width: auto;
    height: auto;
    box-shadow: 1px 4px 7px 1px darkolivegreen;
    border-radius: 20px;
    border-style: solid;
    border-color: #f5bb08;
    margin: 2px;
    background-color: darksalmon;
}

.botonesAtaque:hover {
    background-color: lightsalmon;
}

.botonesAtaque:active {
    background-color: salmon;
}

#sectInfJugContri {
    flex-direction: row;
    justify-content: center;
}

#divInfJugs {

    color: #824203;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    height: 376px;
    width: 265px;
    background-color: #f5bb08;
    border-style: solid;
    border-color: darkolivegreen;
    margin: 2px;
}

.subNomJugs {
    color: darkolivegreen;
    font-family: 'Shadows Into Light';
    font-size: 40px;
    text-align: center;
    margin: 1px;
}

#DivImgSelecJugador {
    display: flex;
    justify-content: center;
}

#DivImgSelecContri {
    display: flex;
    justify-content: center;
}

#spanTurnoAtaqueJug, #spanTurnoAtaqueContri {
    font-size: 60px;
    animation: parpadear 1.5s infinite backwards steps(2);
}

@keyframes parpadear {
    to {
      color:red;
      text-shadow:green;
    }
  }

#mensajes {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#divmensajes {
    display: grid;
    grid-template-columns: 125px 125px;
    justify-content: center;
    color: #824203;
    font-size: 24px;
    font-style: oblique;
    height: 376px;
    width: 265px;
    margin-bottom: 3px;
    background-color:  darkolivegreen;
    border-style: solid;
    border-color: #f5bb08;
    overflow: auto;
}

.subMensajes {

    color:darkolivegreen;
    font-family: 'Shadows Into Light';
    font-size: 40px;
    margin: 1px;
}

#Reiniciar {
    flex-direction: row;
    justify-content: center;
}

/*estilo section canvas*/
#activarMapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activarMapa button {
    color: #824203;
    font-family: 'Shadows Into Light';
    font-size: 155%;
    width: auto;
    height: auto;
    box-shadow: 1px 4px 7px 1px darkolivegreen;
    border-radius: 20px;
    border-style: solid;
    border-color: #f5bb08;
    margin: 2px;
    background-color: darksalmon;
}

#activarMapa button:hover {
    background-color: lightsalmon;
}

#activarMapa button:active {
    background-color: salmon;
}
/*#mapa {
    border: solid;
    border-color: darkolivegreen;
    margin: 3px;
}*/

.mini-imgFusil {
    width: 65px;
    transform: rotate(-45deg);
}

.mini-imgPistola {
    width: 55px;
}

.mini-imgRevolver {
    width: 55px;
}

.mini-imgEscopeta {
    width: 65px;
    transform: rotate(45deg);
}
/*--------------------------------------------//-------------------------------------------//---------------------------------//---------------------------------//*/
/* responsive design*/
@media (max-width: 390px) {

    .titulo {
        width: 268px;
        height: 66px;
        font-size: 296%;
    }

    label {

        color: #824203;
        width: 130px;
        height: 130px;
        margin: 10px;
        border-radius: 20px;
        outline-style: solid;
        outline-color: #f5bb08;
        background-color: olive;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgVaquero🤠 {
        width: 56px;
        height: 106px;
    }

    .imgSoldado🪖 {
        width: 120px;
        height: 112px;
    }
    
    .Div-Tarjetas-Personajes {
        display: flow-root;
    }

    .divTarjetasArma {
        flex-direction: column;
    }

    .Pistola {
        width: 105px;
        height: 70px;
    }

    .Revolver {
        width: 112px;
        height: 77px;
    }

    .Escopeta {
        width: 120px;
        transform: rotate(45deg);
    }

    .Fusil {
        width: 130px;
        transform: rotate(-45deg);
    }

    #Escoger-ataque {
        flex-direction: column;
        align-items: center;
    }

    #contenedorPoderes {
        display: flex;
        align-items: center;
    }

    .botonesAtaque {
        flex-direction: column;
        justify-content: center;
        width: 35px;
        height: 42px;
        margin: 5px;
    }

    #sectInfJugContri {
        align-items: center;
    }

    #divInfJugs {
        font-size: 14px;
        height: 360px;
        width: 90px;
    }
    #divmensajes {
        display: grid;
        grid-template-columns: 50px 45px;
        font-size: 18px;
        height: 270px;
        width: 125px;
        margin-bottom: 3px;
        overflow: auto;
    }
}